
:root {
    --base: #ffc600;
    --spacing: 10px;
    --blur: 0px;
    --blend-mode: screen;
}

#image {
    margin: 0 auto;
    width: 400px;
    height: 250px;

    border: var(--spacing);
    border-style: solid;
    border-color: var(--base);

    background-color: var(--base);
    filter: blur(var(--blur));
    background-origin:padding-box;

    background-image: url(http://unsplash.it/800/500?image=946);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-blend-mode: var(--blend-mode);
}

.hl {
    color: var(--base);
}

body {
    text-align: center;
    background: #193549;
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 50px;
}

.controls {
    margin-bottom: 50px;
}

.control {
    display: inline-block;
}

a {
    color: var(--base);
    text-decoration: none;
}

input {
    width: 100px;
}


@media screen and (max-width: 768px) {
    .clock {
        width: 20rem;
        height: 20rem;
    }

    .digital {
        top: 2em;
    }
}
